@model GestorPacientes.Core.Application.ViewModels.Usuario.UsuarioSaveViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-dark text-light">
                Registrar Usuario
            </div>
            <div class="card-body">
                
                <form method="post" asp-controller="User" asp-action="Register">
                    <div class="mb-3">
                        <label asp-for="Nombre" class="form-label">Nombre:</label>
                        <input asp-for="Nombre" class="form-control">
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Apellido" class="form-label">Apellido:</label>
                        <input asp-for="Apellido" class="form-control">
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="UserName" class="form-label">Nombre de Usuario:</label>
                        <input asp-for="UserName" class="form-control">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Correo" class="form-label">Correo:</label>
                        <input asp-for="Correo" class="form-control">
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Password:</label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label">Confirm Password:</label>
                        <input asp-for="ConfirmPassword" class="form-control">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                        <div class="mb-3">
                            <label asp-for="TipoUsuario" class="form-label">Tipo de usuario:</label>
                            <select asp-for="TipoUsuario" class="form-select">
                                <option value="">Seleccione una opcion</option>
                                <option value="admin">Admin</option>
                                <option value="asistente">Asistente</option>
                            </select>
                            <span asp-validation-for="TipoUsuario" class="text-danger"></span>
                        </div>
                    

                    <button class="btn btn-primary float-end" type="submit">Guardar</button>
                    <a asp-controller="User" asp-action="Index" class="btn btn-warning">Volver atras</a>
                </form>

            </div>
        </div>
    </div>
</div>