@model GestorPacientes.Core.Application.ViewModels.Medicos.SaveMedicoViewModel
@{
    bool CreateMode = Model.Id == 0 ? true : false;
    ViewData["Title"] = "Save Medico";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-dark text-light">
                @(CreateMode ? "Registrar Medico" : $"Editando Medico {Model.Nombre}")
            </div>
            <div class="card-body">
                <form asp-controller="Medico" asp-action="@(CreateMode? "Create" : "Edit")" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id">

                    <div class="mb-3">
                        <label asp-for="Nombre" class="form-label">Nombre:</label>
                        <input asp-for="Nombre" class="form-control">
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Apellido" class="form-label">Apelido:</label>
                        <input asp-for="Apellido" class="form-control">
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Correo" class="form-label">Correo:</label>
                        <input asp-for="Correo" class="form-control">
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Cedula" class="form-label">Cedula:</label>
                        <input asp-for="Cedula" class="form-control">
                        <span asp-validation-for="Cedula" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Phone" class="form-label">Telefono:</label>
                        <input asp-for="Phone" class="form-control">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Foto" class="form-label">Seleccione una imagen:</label>
                        @if (CreateMode)
                        {
                            <input asp-for="Foto" class="form-control" required>
                        }
                        else
                        {
                            <input asp-for="Foto" class="form-control" />
                        }

                    </div>



                    <button class="btn btn-primary float-end" type="submit">Guardar</button>
                    <a asp-controller="Medico" asp-action="Index" class="btn btn-warning">Volver atras</a>
                </form>
            </div>
        </div>
    </div>
</div>